<div  ng-class="{ 'has-error': userForm3.middlename.$touched && userForm3.middlename.$invalid}">


  <div class="formInput">
    <input type="text" name="middlename"
           ng-model="user.middlename"
           ng-minlength="2"
           ng-maxlength="20"
           ng-pattern="vm.namePattern"
           placeholder="middle name"/>
  </div>


  <div class="help-block" ng-messages="userForm3.middlename.$error" ng-if="userForm3.middlename.$dirty || userForm3.middlename.$touched">
    <p ng-message="minlength">Too short.</p>
    <p ng-message="maxlength">Too long.</p>
    <p ng-message="pattern">String characters only</p>
  </div>


</div>
