<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span class="brand-title ">
          <i class="fa fa-bed fa-lg"></i>

          <strong>{{vm.navline.title}}</strong>
          <small>{{ vm.navline.title2 }}</small>
          </span>
        </a>
        <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>

      <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
        <div class="navbar-logo" ng-controller="SidebarController as vm">
          <ul class="nav navbar-nav navbar-right" >

            <li class="customNav"
            ui-sref-active="active" class="active">
              <a ui-sref="login"
            ng-show="!main.isLoggedIn">
               {{vm.navRoutes[0].title}}</a></li>

            <li class="customNav"
                ui-sref-active="active" class="active">
              <a ui-sref="checkIn"
                 ng-show="!main.isLoggedIn">
                {{vm.navRoutes[3].title}}</a></li>

            <li class="customNav"
                ui-sref-active="active" class="active">
              <a ui-sref="checkOut"
                 ng-show="!main.isLoggedIn">
                {{vm.navRoutes[4].title}}</a></li>



            <li class="customNav"
            ui-sref-active="active" class="active"
            ng-show="main.isLoggedIn">
              <a href="#">Welcome, Admin</a></li>

          </ul>
        </div>
      </div>
  </div>
</nav>

<footer >
    <div class="nav navbar-default navbar-fixed-bottom">
        <h6 class="footer">All Rights Reserved 2017 @ MarteHeadQuarters <small>Created by CMM Junior Developers</small></h6>
    </div>
</footer>
