<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="signupBg login-space">

                  <div class="signupBg-title">
                    <span>
                      <strong>Welcome.</strong>
                      <small>Please login to access your account.</small>
                    </span>
                  </div>

                  <hr class="thisLine"/>

                  <form class="formMarg" ng-submit="main.doLogin(userData)">

                    <div class="top-space"></div>

                            <input type="text" class="formMarg"
                            placeholder="Email"
                            ng-model="userData.username">

                            <input type="password" class=""
                            placeholder="Password"
                            ng-model="userData.password">

                          <button class="btn btn-primary tprimary"
                          type="submit"
                          ng-show="!main.spinner">
                            <strong>Sign in</strong>
                          </button>

                          <div class="spinner"
                            ng-show="main.spinner">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                            </div>

                  </form>

            </div>
        </div>
    </div>
</section>
