<div ng-class="{ 'has-error': userForm.lastname.$touched && userForm.lastname.$invalid}">


  <div class="formInput">
    <label for="lastname">Last Name *</label>
    <input type="text" name="lastname" id="lastname"
           ng-model="user.lastname"
           ng-minlength="2"
           ng-maxlength="20"
           required
           ng-pattern="vm.namePattern"/>
  </div>

  <div class="help-block" ng-messages="userForm.lastname.$error" ng-if="userForm.lastname.$dirty || userForm.lastname.$touched">
    <p ng-message="minlength">Too short.</p>
    <p ng-message="maxlength">Too long.</p>
    <p ng-message="required">This field is required.</p>
    <p ng-message="pattern">String characters only</p>
  </div>

</div>
