
<div style="height:40px;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">

     <!-- <div class="myProfileBox">
        <div class="row">
          <div class="col-md-4">
            <img class="img-circle profilePicture" src="images/AngularJS-small.png" width="170" height="170">
          </div>
          <div class="col-md-8">
            <div style="background-color: blue">asd</div>
          </div>
        </div>
      </div>-->
      <div class="myProfileBox">
        <p class="advanceTitle">Advance Search</p>

        <form>

          <div class="searchBox">

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Keyword <span class="searchTitle">- Type word or phrase to match relevant jobs</span></h6>
                  <div class="searchKeyword">
                    <input class="form-control" type="text" name="search" placeholder="Search..">
                    <button class="btn btn-success keywordButton"> + </button>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Field <span class="searchTitle">- Search specific job function or expertise</span></h6>
                <select class="form-control">
                  <optgroup>
                    <option>Industry 1</option>
                    <option>Industry 2</option>
                    <option>Industry 3</option>
                    <option>Industry 4</option>
                    <option>Industry 5</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Position Level </h6>
                <select class="form-control">
                  <optgroup>
                    <option>CEO/SVP/AVP/VP Director</option>
                    <option>Assistant Manager/Manager</option>
                    <option>Supervisor/5 Years and Up Experience Employee</option>
                    <option>1-4 Years Experience Employee</option>
                    <option>Fresh Grad/Less Than 1 Year</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h6>Address <span class="searchTitle">- Locate your employee</span></h6>
                <select class="form-control">
                  <optgroup>
                    <option>Location 1</option>
                    <option>Location 2</option>
                    <option>Location 3</option>
                    <option>Location 4</option>
                    <option>Location 5</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h6>Salary </h6>
              </div>
                <div class="col-md-6 col-xs-6">
                  <input class="form-control" type="text" placeholder="min"/>
                </div>
                <div class="col-md-6 col-xs-6">
                  <input class="form-control" type="text" placeholder="max"/>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <h6>Gender </h6>
                <select class="form-control">
                  <optgroup>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-6 col-xs-12">
                <h6>Age </h6>
                <select  class="form-control">
                  <optgroup>
                    <option>18-20 years old</option>
                    <option>20-25 years old</option>
                    <option>25-30 years old</option>
                    <option>30-35 years old</option>
                    <option>Any</option>
                  </optgroup>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-default buttonSearch center">Search</button>
              </div>
            </div>





            <div style="height:20px;"></div>



          </div>

        </form>

      </div>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<div style="height:50px;"></div>


