<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
            <li class="blightblue">
              <div class="pull-left"><i class="fa fa-plane"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
              </div>
              <div class="clearfix"></div>
            </li>

            <li class="borange">
              <div class="pull-left"><i class="fa fa-envelope"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">{{vm.messageCount}}</span> Messages
                {{main.isLoggedIn}}
              </div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget wviolet">
            <div ht-widget-header title="People" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <!--<table st-table="people" class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in vm.people">
                    <td>{{p.firstName}}</td>
                    <td>{{p.lastName}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.location}}</td>
                  </tr>
                </tbody>
              </table>-->


              <table st-table="people" st-safe-src="vm.people" class="table table-condensed table-striped " arrow-selector>
              <thead>
              <tr>
                <th colspan="5">
                  <input st-search="firstName" class="form-control" placeholder="Search here" type="text"/>
                </th>
              </tr>
              <tr>
                <th>
                  <input type="checkbox" ng-model="selectAll" >
                </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Location</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="p in people" ng-show="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                <td>
                  <input type="checkbox" ng-checked="selectAll" >
                </td>
                <td>{{p.firstName}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.age}}</td>
                <td>{{p.location}}</td>
                <td>
                  <button accesskey="V" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View</button>
                </td>


                <div class="modal custom fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header modal-header-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Information</h4>
                      </div>
                      <div class="modal-body">
                        <ul ng-repeat="q in vm.people[selectedRow]">
                          <li>
                            {{q}}
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button ng-click="Showtoast()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="5" class="text-center">
                  <div st-pagination="" st-items-by-page="radioModel" st-displayed-pages="7"></div>
                </td>
              </tr>
              </tfoot>
            </table>






            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget wgreen">
            <div ht-widget-header title="{{vm.news.title}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <small>{{vm.news.description}}</small>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
