 <div ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid}">

   <label for="email">Email</label>
    <input type="text" name="email" id="email"
                   ng-model="user.email"
                   ng-maxlength="30"
                   ng-pattern="vm.emailPattern" />

   <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$dirty || userForm.email.$touched">
     <p ng-message="maxlength">Your email is too long.</p>
     <p ng-message="required">Your email is required. {{email}}</p>
     <p ng-message="pattern">Enter valid email {{email}}</p>
   </div>

 </div>
<!--<pre>Your email is: <strong>{{email}}</strong></pre>-->
