 <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="checkInWrap">
              <form name="userForm">

                <div class="col-md-6">
                  <div class="personalBox">

                    <div class="checkInTitle">
                      <strong>Customer Information</strong>
                      <hr/>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div fname-directive></div>
                      </div>
                      <div class="col-md-6">
                        <div lname-directive></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div mobile-directive></div>
                      </div>
                      <div class="col-md-6">
                        <div email-directive></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="address">Address</label>
                        <input type="text" id="address"/>
                      </div>
                    </div>


                    <div class="checkInTitle checkInSpace">
                      <strong>Date of Check in/out</strong>
                    <hr/>
                    </div>
                    <div class="row formMarg">
                      <div class="col-md-6">
                        <label for="date">Check in *</label>
                        <input type="date" id="date" required/>
                      </div>
                      <div class="col-md-6">
                        <label for="time">Time *</label>
                        <input type="time" id="time" required/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="date2">Check out *</label>
                        <input type="date" id="date2" required/>
                      </div>
                      <div class="col-md-6">
                        <label for="time2">Time</label>
                        <input type="time" id="time2"/>
                      </div>
                    </div>


                    <div class="checkInTitle checkInSpace">
                      <strong>Payment Information</strong>
                      <hr/>
                    </div>
                    <div class="row">
                      <div class="paymentButton">
                        <div class="col-md-12">
                          <label>
                            <input type="radio" name="transact" value="cash" >
                            <div></div> Cash
                          </label>
                        </div>
                        <div class="col-md-12">
                          <label>
                            <input type="radio" name="transact" value="bankDeposit">
                            <div></div> Bank Deposit
                          </label>
                        </div>
                        <div class="col-md-12">
                          <label>
                            <input type="radio" name="transact" value="onlineTransact">
                            <div></div> Online Transaction
                          </label>
                        </div>
                      </div>
                    </div>


                  <div class="bottom-space"></div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="roomBox">

                      <div class="checkInTitle">
                        <strong>Room Information</strong>
                        <hr/>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="reference">Reference No.</label>
                          <input type="text" id="reference" value="1231-123123123" disabled/>
                        </div>
                        <div class="col-md-12">
                          <label for="roomN">Room Type/Name *</label>
                          <select class="form-control">
                            <optgroup>
                              <option>Room #1</option>
                              <option>Room #2</option>
                              <option>Room #3</option>
                              <option>Room #4</option>
                              <option>Room #5</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="roomN">Room Number *</label>
                          <select class="form-control">
                            <optgroup>
                              <option>Room #1</option>
                              <option>Room #2</option>
                              <option>Room #3</option>
                              <option>Room #4</option>
                              <option>Room #5</option>
                            </optgroup>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="roomN">How many room ?</label>
                          <select class="form-control">
                            <optgroup>
                              <option> 1</option>
                              <option> 2</option>
                              <option> 3</option>
                              <option> 4</option>
                              <option> 5</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div class="row ">
                        <div class="col-md-6">
                          <label for="roomN">No of Pax *</label>
                          <select class="form-control">
                            <optgroup>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </optgroup>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="roomN">No of children </label>
                          <select class="form-control">
                            <optgroup>
                              <option> 1</option>
                              <option> 2</option>
                              <option> 3</option>
                              <option> 4</option>
                              <option> 5</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>

                    <div class="checkInTitle">
                      <hr/>
                    </div>

                      <div class="row checkInSpace">
                        <div class="col-md-12">
                         <h4>Total</h4>
                          <h2>10,283.00</h2>
                        </div>
                      </div>

                      <div class="row checkInSpace ">
                        <div class="col-md-12">
                         <button class="btn btn-primary saveCheck">SAVE</button>
                        </div>
                      </div>

                  </div>
                </div>



              </form>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
 </div>


