<div ng-class="{'has-error': userForm4.mobileNumber.$touched  && userForm4.mobileNumber.$invalid}">

  <input type="text" name="mobileNumber"
         ng-model="user.mobileNumber"
         ng-pattern= "vm.mnumberOnly"
         />

  <div class="help-block" ng-messages="userForm4.mobileNumber.$error"
       ng-if="userForm4.mobileNumber.$touched">
    <div ng-message="pattern">Enter a valid Mobile Number</div>
  </div>
</div>
