<div ng-class="{'has-error': userForm.mobileNumber.$touched  && userForm.mobileNumber.$invalid}">

  <label for="mobile">Mobile Number *</label>
  <input type="text" name="mobileNumber" id="mobile"
         ng-model="user.mobileNumber"
         ng-pattern= "vm.mnumberOnly"
         required/>

  <div class="help-block" ng-messages="userForm.mobileNumber.$error"
       ng-if="userForm.mobileNumber.$touched">
    <div ng-message="required">You can't leave this empty</div>
    <div ng-message="pattern">Enter a valid Mobile Number</div>
  </div>

</div>
