<section id="sign-up">
  <div class="container">
    <div class="row">


          <div class="tablehere">
            <table st-table="people" st-safe-src="vm.people" class="table table-condensed table-striped " arrow-selector>
              <thead>

              <div class="row">

                <div class="col-md-12">

                    <!--<button class="btn btn-default buttonClear" ><i class="fa fa-eraser" aria-hidden="true"> Clear</i></button>-->

                  <th colspan="7" class="searchPane">
                    <div class="row">
                          <div class="col-md-4">
                            <input st-search="id" class="form-control" placeholder="Reference id" type="text"/>
                          </div>
                          <div class="col-md-4">
                            <input st-search="lastName" class="form-control" placeholder="Last Name" type="text"/>
                          </div>
                          <div class="col-md-4">
                            <input st-search="mobile" class="form-control" placeholder="Mobile No." type="text"/>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <select st-search="roomType" class="form-control dropSelect"><option value="">Select Room Type</option>
                          <option>Standard Room Single</option>
                          <option>Dormitory Room</option>
                          <option>Standard Room Twin</option>
                          <option>Cabana Room</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <input st-search="checkDate" class="form-control" placeholder="Check in" type="text"/>
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Select Time"/>
                      </div>
                    </div>
                  </th>
                </div>
                <div class="col-md-12">
              <div class="tablePane">
                <tr class="tableHead">
                  <th st-sort="id">Ref. Number</th>
                  <th st-sort="lastName"> Full name</th>
                  <th st-sort="mobile">Mobile No.</th>
                  <th st-sort="roomType">Room Type</th>
                  <th st-sort="checkDate">Check in Date</th>
                  <th>Check in Time</th>
                  <th>Check out</th>
                </tr>
              </div>
              </thead>
              <tbody>
              <tr ng-repeat="row in people " >
                <td>{{row.id }}</td>
                <td>{{row.firstName}} {{row.lastName }}</td>
                <td>{{row.mobile }} </td>
                <td>{{row.roomType}}</td>
                <td>{{row.checkDate}}</td>
                <td></td>
                <td>
                  <button class="btn btn-default viewButton" data-toggle="modal" data-target="#myModal">view</button>

                  <div class="modal custom fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header modal-header-info">
                          <button type="button" class="close" data-dismiss="modal">x</button>
                          <h4 class="modal-title">Checking Out Information</h4>
                        </div>
                        <div class="modal-body">

                          <form>
                            <div class="row">
                              <div class="col-md-3">
                                <input type="radio" name="checkoutType" id="early" value="earlyCheckout">
                                <label for="early">Early Checkout</label>
                              </div>
                              <div class="col-md-3">
                                <input type="radio" name="checkoutType" id="late" value="lateCheckout">
                                <label for="late">Late Checkout</label>
                              </div>
                            </div>
                          <hr class="thisLine"/>
                            <div class="top-space"></div>

                            <div class="row">
                              <div class="col-md-6">
                                <input type="date" />
                              </div>
                              <div class="col-md-6">
                                <input type="time" />
                              </div>
                            </div>
                          </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="7" class="text-center">
                  <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>

             </div>


              </div>


    </div>
  </div>
</section>
